@use '../utils' as *; 

.button--primary {
  background-color: $primaryColor;
  color: hsl(0, 0%, 100%);
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 0.625rem;
  font-size: 1.125rem;
  padding: 0.875rem 0;
  position: relative;
  z-index: 0;
  overflow: hidden;

  i {
    margin-right: 0.5rem;
  }

  &:hover {
    transform: scale(1.005);

    &::before {
      width: 100%;
      filter: brightness(130%);   
    }
  }
  
  &::before {
    content: '';
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: $primaryColor;
    border-radius: 0.625rem;
    z-index: -1;
    transition: all 0.3s ease;
  }
}