@use '../utils' as *; 

.product {
  max-width: 21.4375rem;
  background-color: $productBackgroundColor;
  border-radius: 1.25rem;
  overflow: hidden;

  @media screen and (min-width: 48em) {
    max-width: 46rem;
    grid-template-columns: 1fr 1fr;
  }
  
  &__img {
    width: 100%;
    height: 100%;
  }
  
  &__details {
    padding: 2em;
    display: flex;
    flex-direction: column;
  }

  &__type {
    display: block;
    margin-bottom: 1rem;
    letter-spacing: 0.5rem;
  }

  &__title, 
  &__price {
    font-family: 'Fraunces', serif;
    font-size: 2.25rem;
  }

  &__title {
    margin-bottom: 1rem;

    @media screen and (min-width: 48em) {
      margin-bottom: 1.5rem;
    }
  }

  & p {
    margin-bottom: 1rem;

    @media screen and (min-width: 48em) {
      margin-bottom: 1.5rem;
    }
  }

  &__prices{
    display: flex;
    gap: 1.5rem;
    margin-bottom: 1rem;

    @media screen and (min-width: 48em) {
      margin-bottom: 2rem;
    }
  }

  &__price {
    color: $primaryColor;  
  }

  &__price ~ del {
    align-self: center;
  }
  
}

